{require_otp_vsn, "R14|R15|R16|17|18|19|20"}.
{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.
{port_env, [{"(darwin|linux|solaris)", "CFLAGS", "$CFLAGS -O2"},
            {"(freebsd)", "CFLAGS", "$CFLAGS -O2"},
            {"(darwin|linux|solaris)", "LDFLAGS", "$LDFLAGS -llzf"},
            {"(freebsd)", "LDFLAGS", "$LDFLAGS -llzf"}]}.
{port_specs, [{"priv/lib/lzf.so", ["c_src/lzf.c"]}]}.
{eunit_opts, [verbose]}.
